.dashboard {
    display: flex;
    width: 100vw;
    min-height: 100vh;

}

.con {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2vh 1vw;
    flex-grow: 1;
}

.headi {
    left: 6%;
    top: 0.5%;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);
    font-size: 1vmax;
    position: absolute;
}

.inside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.match-container {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    width: 72vw;
    height: 25vh;   
    border-radius: 15px;
    display: flex;
    /* flex-direction: column; */
    padding: 1vh 1vw;
    overflow: hidden;
    position: relative;
    margin: 0vh 3vw;


}
.nothing_here 
{
    height: 100%;
    width: 100%;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);
    position: absolute;
    z-index: 2;
    font-size: 2vw;
    text-align: center;
    margin: 8vh 0vw;
}

.forward {
    position: absolute;
    top: 11%;
    right: 2.7%;
    z-index: 1;
    cursor: pointer;
}

.backward {
    position: absolute;
    top: 11%;
    left: 2.7%;
    z-index: 1;
    cursor: pointer;
}

.match {

    margin: 3.7vh 1vw;
    display: flex;
    flex-direction: column;
}

.match-photo {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    display: flex;


}

.match-url {
    width: 8vw;
    height: 15vh;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    object-fit: cover;
}

.name {
    margin: 1.5vh 0vw;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);

    font-size: 1.2vw;

}

.con2 {
    display: flex;

}

.notifications {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    width: 20vw;
    height: 65vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
    overflow-x: hidden;
    position: relative;
    margin: 2vh 3vw;
    margin-bottom: 0vh;
    /* flex-grow: 1; */
    overflow-y: scroll;
    position: relative;
    z-index: 1;

}

.cd {
    /* padding: 1vh 0vw;
    text-align: center; */
    /* box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24); */
    height: 3vh;
    width: 95%;
    margin: 3vh 1vw;
    /* border-radius: 15px;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);
    font-size: 1vw; */
}

.notifications::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.notifications::-webkit-scrollbar-track {
    /* background: white; */
    /* color of the tracking area */
    /* border-top-right-radius: 20px; */
    margin-top: 20px;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: rgb(181, 181, 181);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 0px solid;
    /* creates padding around scroll thumb */
}

.notification {
    padding: 1vh 0vw;
    text-align: center;
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
    height: 3vh;
    width: 95%;
    margin: 0.5vh 1vw;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);
    font-size: 1vw;
}

.headi2 {
    left: 0.5%;
    top: 60%;
    font-family: 'Pacifico', cursive;
    color: rgb(214, 53, 4);
    font-size: 1.5vmax;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.13);
    backdrop-filter: blur(15px);
    z-index: 1;
    transform: rotate(-90deg);

}

.other-utils {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    width: 45vw;
    height: 65vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    overflow-x: hidden;
    position: relative;
    margin: 2vh 0vw;
    margin-bottom: 0vh;
    /* flex-grow: 1; */
    position: relative;

}