.content {

  display: flex;
  width: 100vw;
  height: 100%;
}

.space2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  margin: 0px 17vw;
  margin-bottom: 0vh;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Pacifico', cursive;
  color: rgb(214, 53, 4);
  font-size: 50px;
  padding: 0vh 2vw;
  display: flex;
  flex-direction: column;
}

.application {
  margin: 1vh 17vw;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Pacifico', cursive;
  color: rgb(214, 53, 4);
  font-size: 19px;
  padding: 0vh 2vw;

}

.find {
  margin: 2vh 12vw;
  display: flex;
  animation-name: find-love;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}

.space3 {
  width: 20vw;
  animation-name: find-love-space;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  text-align: center;
  padding: 2vh 0vw;


}

.find-button {
  width: fit-content;
  height: auto;
  border-radius: 50px;
  font-family: 'Pacifico', cursive;
  color: rgb(214, 53, 4);
  font-size: 5px;
  background-color: rgb(240, 237, 237);
  border: 0px;
  animation-name: find-love-button;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  cursor: pointer;

}

.find-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.heart2-img {
  width: 4vw;
  height: 9vh;
  animation-name: heart-img-motion;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}



@keyframes find-love {
  0% {
    padding: 0vh 0vw;
  }

  50% {
    padding: 0vh 10vw;


  }

  100% {
    padding: 0vh 6vw;


  }
}

@keyframes find-love-space {
  0% {
    width: 20vw;

  }

  50% {
    width: 0vw;


  }

  100% {
    width: 12vw;


  }
}

@keyframes find-love-button {
  0% {
    width: 0vw;
    font-size: 0vw;

  }

  100% {
    width: 100%;
    font-size: 1.5vw;

  }


}





@keyframes heart-img-motion {
  0% {
    transform: scale(0.8, 0.8);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(0.8, 0.8);
  }
}

@media(max-width:820px) {

  .line {
    font-size: 40px;
    margin: 0px auto;
    margin-bottom: 1vh;

  }

  .application {
    font-size: 14px;
    margin: 0vh auto;
    /* margin-right: 0vw; */

  }

  .find {
    margin: 2vh auto;
  }

  @keyframes find-love-space {
    0% {
      width: 20vw;

    }

    50% {
      width: 0vw;


    }

    100% {
      width: 20vw;


    }
  }

  @keyframes find-love-button {
    0% {
      width: 0vw;
      font-size: 0vw;

    }

    100% {
      width: 100%;
      font-size: 2.5vw;

    }


  }



}

@media (max-width:480px) {
  .line {
    font-size: 30px;
    margin: 0px auto;
    margin-bottom: 1vh;

  }

  .application {
    font-size: 11px;
    margin: 0vh auto;
    /* margin-right: 0vw; */

  }
  .heart2-img
  {
    width: 40px;
    height: 60px;
  }
}