body {
  background-image: url('./images/Untitled (1).png');
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  /* background-position: center; */
  background-repeat: round;
  background-attachment: fixed;
  /* resize: both; */
  /* position: relative; */
}

.navbar {
  padding: 22px 2vw;
  display: flex;
  width: 96vw;
}

.logo {
  margin-left: 5vw;
  width: 14vw;
}

.space {
  width: 30vw;

}

.navbar-components {
  display: flex;
}

.component {
  /* color: wheat; */
  color: #571419;
  font-size: 26px;
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  padding: 0vh 1vw;
  display: flex;
  flex-direction: column;
}

.underline {
  background-color: #7e2127;
  height: 2px;
  width: 0%;
}

.login {
  margin-left: 5vw;
  font-size: 20px;
  padding: 4px 0px;
}

.sign-up {
  margin: 0px 1vw;
  font-size: 20px;
  padding: 4px 0px;
}

a {
  text-decoration: none;
  /* color: wheat; */
  color: #571419;
  border-width: 0px;
}

@keyframes underline-motion {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

#home:hover .underline {
  animation-name: underline-motion;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#contact:hover .underline {
  animation-name: underline-motion;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#about:hover .underline {
  animation-name: underline-motion;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#reviews:hover .underline {
  animation-name: underline-motion;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.content {

  display: flex;
  width: 100vw;
}

.space2 {
  width: 50vw;
}

.heart {
  /* margin: 18vh 66vw; */
  /* position: absolute; */
}

.heart-img {
  margin: 16vh 16vw;

  width: 108px;
  height: 108px;
  animation: heart-img-motion 1s ease infinite;
}

@keyframes heart-img-motion {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}